<div class="panel panel-warning caixa">
	<div class="container">
		<div class="row">
			<h1 align="center">Jogo Dos 8</h1>
			<div class="col-md-4">

				<input class="text-center jogo-input" type="text" ng-model="posicaoAtual[00]">
				<input class="text-center jogo-input" type="text" ng-model="posicaoAtual[01]">
				<input class="text-center jogo-input" type="text" ng-model="posicaoAtual[02]">
				<br>
				<input class="text-center jogo-input" type="text" ng-model="posicaoAtual[10]">
				<input class="text-center jogo-input" type="text" ng-model="posicaoAtual[11]">
				<input class="text-center jogo-input" type="text" ng-model="posicaoAtual[12]">
				<br>
				<input class="text-center jogo-input" type="text" ng-model="posicaoAtual[20]">
				<input class="text-center jogo-input" type="text" ng-model="posicaoAtual[21]">
				<input class="text-center jogo-input" type="text" ng-model="posicaoAtual[22]">
				<br>
				<button class="btn btn-info btn-play" ng-click="verificaValido()">Play</button>
				<br>
				<button class="btn btn-success btn-play" ng-click="proximoEstado()" ng-disabled="percorreMenorCaminhoStop">Proximo</button>
				<br>
				<h4>Fronteira: {{possiveisJogadas.length}}</h4>
				<h4>Estados Verificados: {{jogadasVerificadas.length}}</h4>
			</div>

			<div class="col-md-8">

				<div ng-repeat="caminho in menorCaminho.slice().reverse()">
					<div style="margin-left: 3.4em; margin-top: 4.2em;">
						<h4 style="margin-left: 0.15em">|</h4>
						<h4 style="margin-left: 0.15em">|</h4>
						<h4>V</h4>
					</div>

					<!--<span ng-repeat="elemento in caminho">-->
						<!--<span class="text-center bloco-resultado">{{elemento}}</span>-->
					<!--</span>-->
					<span class="text-center bloco-resultado" style="margin-left: 0em;margin-top: 0em">{{caminho[00]}}</span>
					<span class="text-center bloco-resultado" style="margin-left: 1em;margin-top: 0em">{{caminho[01]}}</span>
					<span class="text-center bloco-resultado" style="margin-left: 2em;margin-top: 0em">{{caminho[02]}}</span>
					<br>
					<span class="text-center bloco-resultado" style="margin-left: 0em;margin-top: 0.5em">{{caminho[10]}}</span>
					<span class="text-center bloco-resultado" style="margin-left: 1em;margin-top: 0.5em">{{caminho[11]}}</span>
					<span class="text-center bloco-resultado" style="margin-left: 2em;margin-top: 0.5em">{{caminho[12]}}</span>
					<br>
					<span class="text-center bloco-resultado" style="margin-left: 0em;margin-top: 1em">{{caminho[20]}}</span>
					<span class="text-center bloco-resultado" style="margin-left: 1em;margin-top: 1em">{{caminho[21]}}</span>
					<span class="text-center bloco-resultado" style="margin-left: 2em;margin-top: 1em">{{caminho[22]}}</span>
				</div>

				<div style="margin-bottom: 5em;">
				</div>

			</div>
		</div>
	</div>
</div>